@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

body{
    background-color: #ffebcd;
    width:100vw;
    overflow-x: hidden;    
}

.header-title{
    font-size: 3.75rem;
    color: black;
    padding: 0.6rem;
}

.container{
    width: 70%;
    margin: auto;
    cursor: pointer;
    color:blue;
    font-size: 3rem;
    padding: .6rem;
}

.container:hover{
    color:black;
}

.item{
    padding: .6rem;
    border-top: 0.2rem solid #f8d8a7;
    cursor:inherit;
}

.item__label{
    cursor:inherit;
}

.item__label span{
    display: inline-block;
    width:90%;    
    transition-duration: .3s;
}
.item__label i{
    transition-duration: .5s;
}

.item__label-img{
    display: block;
}
.item__radio{
    display: none;
}

.item__radio:checked+.item__label>.item__img{
    /* visibility: visible; */
    width: 45%;
    opacity: 1;
}

.item__radio:checked+.item__label i{
    transform: rotate(45deg);
}

.item__radio:hover+.item__label i{
    transform: rotate(45deg);
}

.item__radio:hover+.item__label>.item__img{
    /* visibility: visible; */
    width: 45%;
    opacity: 1;
}


.item__radio:checked+.item__label{
    color:black;

}

.item__img{
    padding: .7rem;
    display: block;
    /* visibility: hidden; */
    opacity: 0;
    width: 0;
    margin:auto;
    cursor:inherit;
    transition-duration: .6s;
}

.item__radio:active+.item__label{
    opacity: 0.6;
}

@media  screen and (max-width:820px) {
    .header-title{
        font-size:2.5rem;
    }
    .container{
        width:90%;
        font-size: 1.3rem;
    }
    .item__radio:checked+.item__label>.item__img{
        width: 70%;
    }
} 
@media  screen and (max-width:320px) {
    .header-title{
        font-size:1.5rem;
    }
    .container{
        width:95%;
        font-size: 1rem;
    }
    .item__radio:checked+.item__label>.item__img{
        width: 90%;
    }
} 