@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #ffebcd;
    width:100vw;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.header-title{
    font-size: 3.5rem;
    width: 75%;
    margin: auto;
    padding: 1rem;
}

.container{
    width: 75%;
    margin: auto;
    cursor: pointer;
    color:blue;
}

.container:hover{
    color:black;
}

.item{
    padding: 1rem;
    border-top: 0.2rem solid #f8d8a7;
    cursor:inherit;
}

.item__label{
    cursor:inherit;
    transition: 0.5s;
}
.item__label div{
    display: inline-block;
    width:90%;    
    transition-duration: .3s;
}
.item__label i{
    transition-duration: .5s;
}

.item__label-img{
    display: block;
}
.item__checkbox{
    display: none;
}

.item__checkbox:checked+label>.item__img{
    visibility: visible;
    width: 50%;
    opacity: 1;
}

.item__checkbox:checked~.item__label i{
    transform: rotate(45deg);
}

.item__checkbox:hover~.item__label i{
    transform: rotate(45deg);
}

.item:hover>label>.item__img{
    visibility: visible;
    width: 50%;
    opacity: 1;
}


.item__checkbox:checked~.item__label{
    color:black;

}

.item__img{
    padding: .7rem;
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 0;
    margin:auto;
    cursor:inherit;
    transition-duration: .7s;
}

.item__checkbox:active +.item__label{
    opacity: 0.5;
}